<div>

  {{#each product}}
    <hr>
      <h4>Nombre del producto: {{this.title}}</h4>
      <p>Precio: {{this.price}}</p>
      <p>url de la miniatura: {{this.url}}</p>
  {{/each}}

</div>
